main{
  height: 100%;
  width: 100%;
  border: 2px black;
  background-image: url("Images/Acid smiley.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  position: absolute;
}

.container {
  position: relative;
  margin: auto;
  top: 100px;
  height: 500px;
  width: 700px;
  outline: 2px solid black;
  background-position: 0 0;
  background-image: url("Images/mario-background.png");
  -webkit-background-size: cover;
  background-repeat: repeat-x;
  animation: animate 1500s linear infinite;

}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;

  }

}

.character {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: blue;
  top: 350px;
  left: 75px;
}
